body {
    background-color: #D6D4CC;
    margin: 0px;
    display: grid;
    gap: 0px;
    justify-content: space-between;
    grid-template-columns: 4fr 6fr;
    }

.card {
    grid-column: 1;
    position: fixed;
    top: 0;
    left: 24px;
    margin-top: 0px;
    overflow-y: auto;
    }

.content {
    grid-column: 2;
    position: static;
    }

h4 {
    color: #4E5EF6;
    font-size: 30pt;
    font-family: 'Majesti Banner';
    padding-top: 119px;
    margin-bottom: 2px;
    margin-left: 40px;
    }

h1 {
    color: #4E5EF6;
    font-size: 110pt;
    font-family: 'Alfa Slab One';
    line-height: 111pt;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 44px;
   }

.right-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 419px;
    background: #F5C96A;
    }

.bottom-bar {
    width: 100%;
    height: 2px;
    background: #4E5EF6;
    margin-bottom: 40px;
    }

.keywords-group {
    padding-left: 40px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}

.keyword-on {
    display: inline-block;
    color: #4E5EF6;
    list-style: none;
    border-style: solid;
    text-align: center;
    margin-right: 6px;
    padding: 8px 20px;
    border-radius: 23px;
    border: 1px solid #4E5EF6;
    background: #FFF;
    box-shadow: 0px 0px 9px 0px rgba(78, 94, 246, 0.50);
    }

.keyword-off {
    display: inline-block;
    color: #4E5EF6;
    list-style: none;
    border-style: solid;
    text-align: center;
    margin-right: 6px;
    padding: 8px 20px;
    border-radius: 23px;
    border: 1px solid #4E5EF6;
    background: #D6D4CC;
    }

.keyword-dropdown {
    position: relative;
    text-align: center;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 400;
    color: #4E5EF6;
    font-size: 14pt;
}

.keyword-dropdown-txt {
    position: absolute;
    top: 42%;
    bottom: 58%;
    left: 40px;
}

p {
    color: #332309;
    font-size: 14pt;
    line-height: 22pt;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 70px;
    padding-top: 40px;    
    padding-left: 40px;
    margin-right: 250px;
    }

.home-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 24px;
    height: 1024px;
    background: #040101;
    overflow-y: auto;
    }

.dropdown {
    margin-left: 40px;
    margin-right: 250px;
    margin-bottom: 70px;
}

.dropdown-title {
    font-size: 40pt;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 400;
    list-style: none;
    padding: 20px 0px;
    margin-right: 490px;
    display: inline-block;
    }

.arrow {
    padding: 10px 10px;
    align-self: center;
    display: inline-block;
    }

.dropdown-line {
    height: 1px;
    flex-shrink: 0;
    background: #4E5EF6;
    }

.dropdown-txt {
    color: #332309;
    font-size: 18px;
    font-family: "azo-sans-web", sans-serif;
    font-weight: 400;
    line-height: 25px;
    top: 950px;
    left: 750px;
    background: #FFF;
    padding: 20px 26px;
    }